body{

margin:0;
padding:0;
background:url(h.png);


}
#wrapper{

margin:0 auto;
height:auto;
width:980px;
padding:20px;

}
#header{
height:70px;
width:100%;
background:#ffffff;
background:url(images/h.png);

}
.ff{

font-weight:bold;
padding:25px 20px 20px 30px;
font-family:verdana;
color:#11B98F;
float:left;

}
.ff1{

float:right;
margin:0 auto;
padding-top:20px;
padding-right:150px;

}
input[name='ss']{

height:20px;
width:250px;
background:#918881;


}
#menu{

height:50px;
width:100%;
background:#2B5E7C;


}
.hip{


font-weight:bold;
margin-left:10px;
margin-top:20px;
color:#444F55;


}
.hip2{


font-weight:bold;
margin-left:30px;
margin-top:30px;
color:#444F55;


}
#b{
width:240px;
border-bottom:2px solid #000000;
margin-top:10px;
margin-left:10px;
opacity:0.5;


}
.get{

margin-left:7px;
margin-top:10px;
color:#EFFCFF;


}
.get2{

margin-left:20px;
margin-top:20px;
color:#CA718B;


}

#fer{


text-align:justify;

padding:7px;
color:#000000;



}
.ver{


text-align:justify;

padding:15px;
color:#444F55;



}
#content{

height:210px;
width:100%;
background:#ffffff;
margin-top:6px;

}
#ff3{


padding:14px;

}
#clear{



width:100%;
clear:both;}
.dd{

padding:2px;
color:#ffffff;

}
#menu ul li{


float:left;
}
#menu ul{ list-style-type:none; 
					
			
			}
			#menu ul li a{
			
			
			color:#ffffff;
			text-decoration:none;
			padding:10px 30px 30px 20px;
			}
		
#content2{



width:600px;
height:750px;
background:#ffffff;
margin-top:10px;
float:left;

}
.footer{
clear:both;
background:(images/h.png);
text-align:center;
padding-top:10px;

}
#ttt{


font-weight:bold;
padding:10px 10px 10px 10px;
color:#0A9CF8;

}
#main{


width:100%;
height:800px;

}
#content3{


height:600px;
width:369px;
background:#67625F;
float:right;
margin-top:10px;


}
input[name='shaown']{

background:#2B5E7C;
height:20px;
width:140px;

}
#mind{

text-align:justify;
color:#444F55;
padding:10px;
}
#mon{


height:450px;
width:290px;
background:#ffffff;
float:left;


}
#mon2{


height:410px;
width:300px;
background:#ffffff;
float:right;


}
































